* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
      width: 100%;
      max-width: 1024px;
      margin: 100px auto;
      display: grid;
      grid-template-rows: 120px 200px 200px;
      grid-template-columns: repeat(6,1fr);
      grid-gap: 20px;
  }
  
  .navigationbar {
      background-color: #D8D8D8;
      top: 0;
      width: 100%;
      position: fixed;
      max-width: 1024px;
      height: 80px;
      border: 1px;
      border-style: solid;
      justify-content: center;
      align-items: center;
      display: flex;
  }

  .footer {
      background-color: #D8D8D8;
      width: 100%;
      height: 200px;
      border: 1px;
      border-style: solid;
      grid-area:  3 / 1 / 4 / 7;
      justify-items: center;
      display: grid;
      align-items: center;
  }
  
  
  .half-width{
      border: 1px;
      border-style: solid;
      height: 100%;
      background-color: #D8D8D8;
  }
  
  .lhalf{
      grid-area:  1 / 1 / 2 / 4;
  }

  .rhalf{
    grid-area:  1 / 4 / 2 / 7;
  }

  
  .third-width{
      border: 1px;
      border-style: solid;
      height: 100%;
      background-color: #D8D8D8;
  }
  
  .lthird{
      grid-area:  2 / 1 / 3 / 3;
  }
  
  .mthird{
      grid-area:  2 / 3 / 3 / 5;
  }

  .rthird{
        grid-area:  2 / 5 / 3  / 7;
    }
  
  .square{
      width: 150px;
      height: 150px;
      background-color: #D8D8D8;
      border: 1px;
      border-style: solid;
  }
  
  /* (1600x900) HD+ Display */
  @media  screen and (max-width: 480px) {
    .container{
        grid-template-rows: repeat(2,120px) repeat(3,200px) 200px;
        grid-template-columns: 100%;
    }
    .footer {
        grid-area:  6 / 1 / 7 / 2;
    }
    
    .lhalf{
        grid-area:  1 / 1 / 2 / 2;
    }
  
    .rhalf{
      grid-area:  2 / 1 / 3 / 2;
    }
  
    .lthird{
        grid-area:  3 / 1 / 4 / 2;
    }
    
    .mthird{
        grid-area:  4 / 1 / 5 / 2;
    }
  
    .rthird{
          grid-area:  5 / 1 / 6  / 2;
      }
  }
  